//colors
$blue:#01B7F2;
$bluergba:rgba(1, 182, 242, 0.616);
$orange:#FDB714;
$red:#E01A33;
$gray:#838383;
$lightergray:#9e9e9e;
$darkblue:#2d3e52;
$lightgray:#F5F5F5;
$lightgreen:#98CE44;
$green:#7DB921;
$tr03:all 0.3s ease;

//fonts
$mainFont:'Lato', sans-serif;
